.nav-pills {
    border-bottom: 1px solid #ddd;
}
.nav-pills li a {
    background: #fff;
    color: #000;
    display: block;
    line-height: 2em;
    padding: 7px 15px;
    border-radius: 0;
    font-size: 20px;
    border: none;
    margin: 30px 2px 0;
}
ul li a {
    text-decoration: none;
}
.nav-pills li a.active {
    background: #3482ca;
    border: none;
    color: #FFF;
}