 <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 
                 
                  
                <li class="menu-item-has-children dropdown">

                    <a href="/formations/list" class="dropdown-toggle">  Programme </a>
                    
                     
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle"   >  Paramétrage</a>
                    
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" >  Demandes formateur</a>
                     
                </li>
  
                 
            </ul>
        </div> 
    </nav>
  </aside> 
   