<!--<table id="customers">
    <tr>
      <th (click)="sort('ID')" >ID  <span class="glyphicon sort-icon" color="white" *ngIf="key =='ID'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th (click)="sort('EMPLOYEE_NAME')">EMPLOYEE_NAME <span class="glyphicon sort-icon"  *ngIf="key =='EMPLOYEE_NAME'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th>EMPLOYEE_SALARY</th>
      <th>EMPLOYEE AGE</th>
  
    </tr>
    <tr *ngFor="let employe of table">
      <td> {{employe.id}} </td>
      <td>{{employe.employee_name}}</td>
      <td>{{employe.employee_salary}}</td>
      <td>{{employe.employee_age}}</td>
      <td>
        <button class="btn btn-default"  type="button"  >Delete</button>
    </td>
    </tr>
    <tr>
      
      <td>
       </td>
  </tr>
  
    </table>-->