<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Programme Hancho</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="col col-md-8">
                                <h6 class="page-header">  Titre du groupe :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Programme IC Canada </h6>
                            </div>
                            <div class="row">
                            <div class="col col-md-8" style="float: left;">
                                <h6 class="page-header">&nbsp;&nbsp;Durée :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     30H </h6>
                            </div>
                            <div class="col col-md-4" style="float:right">
                                <h6 class="page-header">Capacité    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min :   10   &nbsp;&nbsp; Max: 20  </h6>
                            </div>
                            </div>
                            <br>
                            <div class="col col-md-8" style="float: left;">
                                <h6 class="page-header">&nbsp;&nbsp;<b> Liste des demandes formateurs  </b>   </h6>
                            </div>

                            <div class="table-stats order-table ov-h" style="float: left;">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                             
                                            <th>Formateur</th>
                                            <th>Date début</th>
                                            <th>Date Fin</th>
                                            
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            
                                            <td> Personne 1 </td>
                                            <td>  <span class="name">20/04/2021</span> </td>
                                            <td> <span class="product">20/05/2021</span> </td>
                                            <td><span class="badge badge-declined">Réfusé</span></td>
                                            
                                        </tr>
                                        <tr>
                                            
                                            <td> Personne 2 </td>
                                            <td>  <span class="name">20/04/2021</span> </td>
                                            <td> <span class="product">20/05/2021</span> </td>
                                            <td><span class="badge badge-pending">En Attente</span></td>
                                            
                                        </tr>
                                        <tr>
                                            
                                            <td> Personne 3 </td>
                                            <td>  <span class="name">20/04/2021</span> </td>
                                            <td> <span class="product">20/05/2021</span> </td>
                                            <td><span class="badge badge-complete">Accepté</span></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>