<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                       <strong class="card-title">Programme Hancho</strong>
                    </div>
                    <div class="card-body"> 
                        <div class="col-sm-12">
                            <div class="col col-md-8">
                                <h6 class="page-header">  Titre du groupe :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Programme IC Canada </h6>
                            </div>
                            <div class="row">
                            <div class="col col-md-8" style="float: left;">
                                <h6 class="page-header">&nbsp;&nbsp;Durée :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     30H </h6>
                            </div>
                            <div class="col col-md-4" style="float:right">
                                <h6 class="page-header">Capacité    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min :   10   &nbsp;&nbsp; Max: 20  </h6>
                            </div>
                            </div>
                            <br>
                            <div class="col col-md-8" style="float: left;">
                                <h6 class="page-header">&nbsp;&nbsp;<b> Liste des demandes formateurs  </b>   </h6>
                            </div>

                            <div class="table-stats order-table ov-h" style="float: left;">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                             
                                            <th>Formateur</th>
                                            <th>Date début</th>
                                            <th>Date Fin</th>
                                            
                                            <th>Status</th>¨
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor ="let inscription of inscriptions"> 
                                            <td>  <a [routerLink]="['/formations', formationId,'inscriptions',inscription.id]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                                                {{inscription.formateur}} </a>
                                            </td>
                                            <td> 
                                                <a [routerLink]="['/formations', formationId,'inscriptions',inscription.id]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                                                     <span class="name">{{inscription.Date_debut}}</span>
                                                </a> 
                                            </td>
                                            <td> 
                                                <a [routerLink]="['/formations', formationId,'inscriptions',inscription.id]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                                                <span class="product">{{inscription.Date_fin}}</span>
                                                </a>
                                             </td>
                                            <td>
                                                <a [routerLink]="['/formations', formationId,'inscriptions',inscription.id]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
                                                <span class="badge badge-declined" style="background-color: blue;">{{inscription.Statut}}</span>
                                                </a>
                                            </td>
                                            <td><!--<button class="btn btn-success" style="height: 10px;">Accepter</button>
                                                <button class="btn btn-danger"> Réfuser</button>-->
                                            </td>
                                       
                                        </tr>
                                       
                                       <!---- <tr>
                                            
                                            <td> Personne 2 </td>
                                            <td>  <span class="name">20/04/2021</span> </td>
                                            <td> <span class="product">20/05/2021</span> </td>
                                            <td><span class="badge badge-pending">Réfusé</span></td>
                                            <td></td>
                                            
                                        </tr>
                                        <tr>
                                            
                                            <td> Personne 3 </td>
                                            <td>  <span class="name">20/04/2021</span> </td>
                                            <td> <span class="product">20/05/2021</span> </td>
                                            <td><span class="badge badge-complete">Accepté</span></td>
                                            <td></td>
                                            
                                        </tr>
                                            <tr> 
                                            <td> Personne 3 </td>
                                            <td>  <span class="name">20/04/2021</span> </td>
                                            <td> <span class="product">20/05/2021</span> </td>
                                            <td><span class="badge badge-complete" style="background-color: chartreuse;">Conditionnel</span></td>
                                            <td></td>
                                        </tr>
                                    -->
                                    </tbody>
                                </table>
                            </div>

                            
                         </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>